.addToMap{
    display: inline-block;
    padding: 3px;
    height: 20px;
    width: 20px;
    margin-left: 15px;
    text-align: center;
    background-color: #333;
    color: #eee !important;
    border-radius: 50%;
    line-height: 12px;
    white-space: nowrap;
    user-select: none;
}
.calcAmount .enable{
    background-color: #003308;
}


.calcAmount{
    display: flex;
    align-items: center;
}

.sha{
    font-size: 5px;
    margin-left: 15px;
}

.line{
    margin-left: 15px;
    margin-top: 5px;
}

#valuable{
    font-size: 6px;
}

.extraInfo{
    font-size:3px;
    margin-left: 5px;
}